.pv_window{
position: fixed;
top:0px;
left:0px;
height: 100vh;
width:100vw;
z-index: 2;
background: rgb(245, 245, 245);
display: grid;
grid-template-rows: 2.5rem auto;
}
.pv_head{
   background: #f1f1f1;
   border-bottom:1.4px rgba(0, 0, 0, 0.1) solid;
   display: grid;
   grid-template-columns: 13rem auto 13rem;
}
.pv_handle{
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
.pv_nohandle{
    -webkit-app-region: no-drag;
}
.pv_picView{
    height: calc(100% - 5rem);
    width:100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.pv_body{
   background-color: white;
}
.pv_leftArrow{
    z-index: 3;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top:calc(50vh - 3rem);
    left: 2rem;
    background-image: url("common://icons/Control_Left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
}
.pv_leftArrow:hover{
    opacity: 1;
}
.pv_rightArrow{
    z-index: 3;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top:calc(50vh - 3rem);
    right: 2rem;
    background-image: url("common://icons/Control_Right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
}
.pv_rightArrow:hover{
    opacity: 1;
}
.pv_tBar{
    position: fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
}
.pv_thumb{
    height: 4rem;
    width:unset;
    margin: 0.5rem 0.1rem;
    background-color: rgb(182, 182, 182);
    
}
.pv_thumbFocused{
    margin:0.5rem 1rem;
}
.pv_tags{
    position: absolute;
    top:3rem;
    font-size: 0.8rem;
    right: 1rem;
    flex-direction: row-reverse;
}
.pv_tags_add{
    margin:0.3rem;
    padding: 0.3rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(20px);
    border-radius: 0.8rem;
    color:white;
}
.pv_tag{
    margin:0.3rem;
    padding: 0.3rem 0.6rem;
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(20px);
    border-radius: 0.4rem;
    color:white;
}
.pv_tag:hover{
    background-color: rgba(0, 0, 0, 0.39);
}
.pv_tags_add:hover{
    background-color: rgba(0, 68, 255, 0.596);
}
.pv_tag_x:hover{
    opacity: 0.6;
    transform: scale(1.1);
    rotate: 180deg;
    transition-duration: 100ms;
}