#tl_bar{
    display:grid;
    grid-template-columns: auto 10rem 15rem;
}
#tl{
    display:block;
    height: 100vh;
}
#tl_sidebar{
    width:17rem;
    background-color: rgb(216, 216, 216);
}
#welcome{
    height: 100vh;
    width: 100%;
    padding: 2rem;
}