.switches {
  display: flex;
  margin: 0.2rem 0.3rem;
  max-height: 1.6rem;
  max-width: 18rem;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: var(--bg);
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.28);
  border-radius: 0.4rem;
  overflow: hidden;
}
[data-theme="dark"] .switches{
  background-color: #6d6b6c;
}
.handle {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
#handle1 {
  margin-left: 5rem;
}
#handle2 {
  display: grid;
  grid-template-columns: auto 14.5rem 1rem;
}
#head {
  background: linear-gradient(rgba(233, 231, 233, 0.6), rgba(187, 186, 187, 0.6));
  border-bottom: 1.4px rgba(0, 0, 0, 0.1) solid;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  backdrop-filter: blur(20px);
  z-index: 1;
  height: 2.8rem;
  display: grid;
  grid-template-columns: 7rem 7.5rem auto 20rem auto;
}
[data-theme="dark"] #head{
  background: linear-gradient(rgba(90, 86, 88, 0.6), rgba(97, 97, 97, 0.6))
}
.switch {
  padding: 0.3rem 0.6rem;
  min-width: 4.5rem;
  border: 0.5px rgba(0, 0, 0, 0.1) solid;
  border-left: 0px;
}
[data-theme="dark"] .switch{
  border-color: rgba(255, 255, 255, 0.1);
}
.active_switch {
  background: var(--grey);
  box-shadow: 0px 0px 4px 1px #48484847;
  border: none;
  color:  var(--bg);
}
[data-theme="dark"] .active_switch {
  background: #cbcbcb;
}
.switch:nth-last-child(1) {
  border-right: 0.5px rgba(0, 0, 0, 0.1) solid;
}
.switch:first-child() {
  border-left: 0.5px rgba(0, 0, 0, 0.1) solid;
}
#pagebar {
  height: 2.5rem;
  overflow: hidden;
}
.src_menu {
  background-color: var(--bg) !important;
  box-shadow: 0px 5px 20px 6px #00000059;
  height: 25rem !important;
  width: 17rem;
  border-radius: 0.6rem !important;
  color: var(--primary) !important;
}
[data-theme="dark"] .src_menu {
  box-shadow: 0px 5px 20px 6px #ffffff2d;
}
.tippy-arrow {
  color: var(--bg) !important;
}
.srcm_opt {
  padding: 0.6rem 0.4rem;
  display: flex;
  justify-content: space-between;
}
.srcm_refresh:hover {
  opacity: 0.8;
}
.srcm_grp_title {
  font-size: 0.7rem;
  border-bottom: var(--grey) solid thin;
  color: var(--grey);
  padding: 0.3rem;
  text-align: start;
}
#srcm_addbutt {
  background-color: #0e81ff;
  color: white;
  border-radius: 0.4rem;
  height: 100%;
}
#srcm_addbutt:hover {
  opacity: 0.7;
}
#srcm_addbutt_holder {
  position: absolute;
  left: 0px;
  bottom: 0rem;
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0.7rem;
}
.tippy-content {
  height: 25rem;
}
.text-selectable {
  -webkit-user-select: text;
}
