body{
    background-color: #F2F2F2;
}
.switches{
    display: flex;
    margin: 0.3rem;
    max-height: 2rem;
    max-width: 18rem;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border:0.5px rgba(0, 0, 0, 0.10) solid;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.28);
    border-radius: 0.4rem;
    overflow: hidden;
}
.handle{
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
#handle1{
    margin-left:5rem;
}
#menubar{
    width:100%;
    height:3rem;
    display: grid;
    grid-template-columns: auto 18rem calc(50vw - 9rem);
    /* (100vw - 18rem)/2 */
}
#head{
    background: linear-gradient(rgba(233,231,233,0.6),rgba(187,186,187,0.6));
    border-bottom:1.4px rgba(0, 0, 0, 0.1) solid;
    position: fixed;
    top:0px;
    left:0px;
     max-height: 6rem;
    width: 100vw;
    backdrop-filter: blur(20px);
    z-index: 6;
}
.switch{
    padding:0.3rem 0.6rem;
    border-right:2px rgba(0, 0, 0, 0.07) solid;
}
.active_switch{
    background: linear-gradient(#65AFFA,#0E81FF);
    box-shadow: 0px 1px 5px 0px #71717147;
    color:white;
}
.switch:nth-last-child(1){
    border-right:none;
}
#pagebar{
    height: 2.5rem;
    overflow: hidden;
}
